# Content List

## 1. Import Libraries

## 2. Importa Data

## 3. Concatenating Internet Activities Dataframes
### 3.1 Checking Column Names
### 3.2 Concatenating Dataframes

## 4. Merging Dataframes: Frequency Internet Use, Internet Activities Concat and Purchasing Power GDP
### 4.1 Checking Column Names
### 4.2 Comparing Common Variables
### 4.3 Merging Dataframes

## 5. Changing Datatypes

## 6. Exporting Data

# 01. Import Libraries

In [25]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Import Data

In [26]:
# Create path to use as shortcut to access project folder for importing data
path = r'C:\Users\adrig\OneDrive\Documentos\CAREERFOUNDRY\DATA IMMERSION\ACHIEVEMENT 6\Internet use in EU'
path

'C:\\Users\\adrig\\OneDrive\\Documentos\\CAREERFOUNDRY\\DATA IMMERSION\\ACHIEVEMENT 6\\Internet use in EU'

In [27]:
# Import dataset frequency_interent_use
internet_use = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'freq_internet_use_checked.csv'), index_col=0)

In [28]:
internet_use.shape

(88519, 6)

In [29]:
internet_use.head()

,freq_internet_access,demographic_group,country,year,internet_access_rate,freq_data_flag
0,daily,"Persons aged 16-74 working in agriculture, for...",Austria,2021,71.67,NaN
1,daily,"Persons aged 16-74 working in agriculture, for...",Austria,2022,74.32,NaN
2,daily,"Persons aged 16-74 working in agriculture, for...",Austria,2023,78.30,NaN
3,daily,"Persons aged 16-74 working in agriculture, for...",Austria,2024,65.60,NaN
4,daily,"Persons aged 16-74 working in agriculture, for...",Belgium,2021,73.35,u

In [30]:
# Import dataset internet_activities
internet_activities = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'internet_activities_checked.csv'), index_col=0)

In [31]:
internet_activities.shape

(56471, 6)

In [32]:
internet_activities.head()

,internet_activities,demographic_group,country,year,internet_activities_rate,activities_data_flag
0,Internet banking,Females with low formal education,Austria,2004,3.940000,NaN
1,Internet banking,Females with low formal education,Austria,2005,4.710000,NaN
2,Internet banking,Females with low formal education,Austria,2006,5.290000,NaN
3,Internet banking,Females with low formal education,Austria,2007,24.692171,u
4,Internet banking,Females with low formal education,Austria,2008,7.940000,NaN

In [33]:
# Import dataset internet_activities2
internet_activities2 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'internet_activities2_checked.csv'), index_col=0)

In [34]:
internet_activities2.shape

(153419, 6)

In [35]:
internet_activities2.head()

,internet_activities,demographic_group,country,year,internet_activities_rate,activities_data_flag
0,Internet banking,Employees working full time,Albania,2018,2.83,NaN
1,Internet banking,Employees working full time,Albania,2019,2.72,NaN
2,Internet banking,Employees working full time,Austria,2017,69.41,NaN
3,Internet banking,Employees working full time,Austria,2018,69.62,NaN
4,Internet banking,Employees working full time,Austria,2019,73.70,NaN

In [36]:
# Import dataset internet_activities3
internet_activities3 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'internet_activities3_checked.csv'), index_col=0)

In [37]:
internet_activities3.shape

(102892, 6)

In [38]:
internet_activities3.head()

,internet_activities,demographic_group,country,year,internet_activities_rate,activities_data_flag
0,accessing personal health records online,"Persons aged 16-74 working in agriculture, for...",Austria,2022,12.47,NaN
1,accessing personal health records online,"Persons aged 16-74 working in agriculture, for...",Austria,2024,9.03,NaN
2,accessing personal health records online,"Persons aged 16-74 working in agriculture, for...",Belgium,2022,14.77,u
3,accessing personal health records online,"Persons aged 16-74 working in agriculture, for...",Belgium,2024,46.79,u
4,accessing personal health records online,"Persons aged 16-74 working in agriculture, for...",Bulgaria,2022,10.92,NaN

In [39]:
# Import dataset purchasing_power_gdp
pp_gdp = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'purchasing_power_gdp_checked.csv'), index_col=0)

In [40]:
pp_gdp.shape

(809, 4)

In [41]:
pp_gdp.head()

   country  year  purchasing_power_gdp pp_gdp_data_flag
0  Albania  2003                  4200              NaN
1  Albania  2004                  4600              NaN
2  Albania  2005                  4900              NaN
3  Albania  2006                  5400              NaN
4  Albania  2007                  6000              NaN

# 03. Concatanating Internet Activities Dataframes

## 03.1 Checking Columns Names

In [42]:
print(internet_activities.columns.tolist())

['internet_activities', 'demographic_group', 'country', 'year', 'internet_activities_rate', 'activities_data_flag']

In [43]:
print(internet_activities2.columns.tolist())

['internet_activities', 'demographic_group', 'country', 'year', 'internet_activities_rate', 'activities_data_flag']

In [44]:
print(internet_activities3.columns.tolist())

['internet_activities', 'demographic_group', 'country', 'year', 'internet_activities_rate', 'activities_data_flag']

## 03.2 Concatanating Dataframes

In [45]:
# Create a list with the dataframes
frames = [internet_activities, internet_activities2, internet_activities3]
# Concatenate
internet_activities_concat = pd.concat(frames, ignore_index=True)

In [46]:
# Checking results
internet_activities_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312782 entries, 0 to 312781
Data columns (total 6 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   internet_activities       312782 non-null  object
 1   demographic_group         312782 non-null  object
 2   country                   312782 non-null  object
 3   year                      312782 non-null  int64
 4   internet_activities_rate  312782 non-null  float64
 5   activities_data_flag      21225 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 14.3+ MB

In [47]:
# Checking if all years were included
internet_activities_concat['year'].value_counts().sort_index()

year
2003     1579
2004     5795
2005     6832
2006     7940
2007     9189
2008    10762
2009    14374
2010    13867
2011    11230
2012    13104
2013    13850
2014    12048
2015    17122
2016    15542
2017    22170
2018    14600
2019    19886
2020    21119
2021    19386
2022    20968
2023    18693
2024    22726
Name: count, dtype: int64

In [50]:
# Exporting dataframe
internet_activities_concat.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'internet_activities_concat.csv'))

# 04. Merging Dataframes: Frequency Internet Use, Internet Activities Concat and Purchasing Power GDP

## 04.1 Checking Column Names

In [51]:
print(internet_use.columns.tolist())

['freq_internet_access', 'demographic_group', 'country', 'year', 'internet_access_rate', 'freq_data_flag']

In [52]:
print(internet_activities_concat.columns.tolist())

['internet_activities', 'demographic_group', 'country', 'year', 'internet_activities_rate', 'activities_data_flag']

The first two dataframes have the next columns in common: 'demographic_group', 'country' and 'year'.
It is needed to check if the values on this columns also match.

In [53]:
print(pp_gdp.columns.tolist())

['country', 'year', 'purchasing_power_gdp', 'pp_gdp_data_flag']

The third dataframe have the columns: 'country' and 'year' in common with the first two. 
It is needed to check if the values on this columns also match.

## 04.2 Comparing Common Variables Values

In [54]:
internet_use['demographic_group'].value_counts()

demographic_group
All individuals                                                                                     2630
Individuals with medium formal education                                                            2611
Individuals, 35 to 44 years old                                                                     2569
Individuals, 45 to 54 years old                                                                     2562
Individuals, 25 to 34 years old                                                                     2557
                                                                                                    ...
Persons aged 16-74 working in administrative or support service activities                            81
Persons aged 16-74 working in real estate activities                                                  58
Persons aged 16-74 working in electricity, gas, steam or air conditioning supply                      55
Persons aged 16-74 working in water supply; sewerage, waste management or remediation activities      42
Persons aged 16-74 working in mining or quarrying                                                     18
Name: count, Length: 72, dtype: int64

In [55]:
internet_activities_concat['demographic_group'].value_counts()

demographic_group
All individuals                                                                                     8091
Individuals with medium formal education                                                            8087
Individuals with high formal education                                                              8087
Individuals, 16 to 24 years old                                                                     8083
Individuals, 55 to 64 years old                                                                     8083
                                                                                                    ...
Persons aged 16-74 working in other service activities                                               945
Persons aged 16-74 working in water supply; sewerage, waste management or remediation activities     927
Persons aged 16-74 working in real estate activities                                                 927
Persons aged 16-74 working in mining or quarrying                                                    883
Retired Individuals                                                                                  355
Name: count, Length: 72, dtype: int64

In [56]:
# Comparing unique values between  first two datframes
set(internet_use['demographic_group'].unique()) - set(internet_activities_concat['demographic_group'].unique())

set()

All unique values match!

In [57]:
internet_use['country'].value_counts().sort_index()

country
Albania                    848
Austria                   2660
Belgium                   2777
Bosnia and Herzegovina     722
Bulgaria                  2593
Croatia                   2393
Cyprus                    2839
Czechia                   2810
Denmark                   2843
Estonia                   2658
Finland                   2675
France                    2254
Germany                   2628
Greece                    2865
Hungary                   2847
Iceland                   1868
Ireland                   2582
Italy                     2612
Kosovo*                    549
Latvia                    2812
Lithuania                 2829
Luxembourg                2888
Malta                     2580
Montenegro                1003
Netherlands               2742
North Macedonia           1637
Norway                    2943
Poland                    2801
Portugal                  2574
Romania                   2611
Serbia                    1245
Slovakia                  2875
Slovenia                  2731
Spain                     2948
Sweden                    2875
Switzerland                602
Türkiye                   1996
United Kingdom            1804
Name: count, dtype: int64

In [58]:
internet_use['country'].nunique()

38

In [59]:
internet_activities_concat['country'].value_counts().sort_index()

country
Albania                                                                                                           3022
Austria                                                                                                           9770
Belgium                                                                                                           9395
Bosnia and Herzegovina                                                                                            2516
Bulgaria                                                                                                          9420
Croatia                                                                                                           8656
Cyprus                                                                                                            9688
Czechia                                                                                                           9641
Denmark                                                                                                           9803
Estonia                                                                                                           9680
Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015, EA20-2023)     2830
European Union - 27 countries (from 2020)                                                                         2931
Finland                                                                                                           9026
France                                                                                                            7547
Germany                                                                                                           9845
Greece                                                                                                            9676
Hungary                                                                                                           9697
Iceland                                                                                                           6566
Ireland                                                                                                           8883
Italy                                                                                                             8389
Kosovo*                                                                                                           2075
Latvia                                                                                                            9050
Lithuania                                                                                                         9698
Luxembourg                                                                                                        9816
Malta                                                                                                             8472
Montenegro                                                                                                        3513
Netherlands                                                                                                       9593
North Macedonia                                                                                                   6467
Norway                                                                                                           10004
Poland                                                                                                            9715
Portugal                                                                                                          9764
Romania                                                                                                           9371
Serbia                                                                                                            4412
Slovakia                                                                                                          9796
Slovenia                                                                                                          9758
Spain                                                                                                             9531
Sweden                                                                                                            9459
Switzerland                                                                                                       2134
Türkiye                                                                                                           6553
United Kingdom                                                                                                    6620
Name: count, dtype: int64

In [60]:
internet_activities_concat['country'].nunique()

40

In [61]:
pp_gdp['country'].value_counts().sort_index()

country
Albania                   22
Austria                   22
Belgium                   22
Bosnia and Herzegovina    20
Bulgaria                  22
Croatia                   22
Cyprus                    22
Czechia                   22
Denmark                   22
Estonia                   22
Finland                   22
France                    22
Germany                   22
Greece                    22
Hungary                   22
Iceland                   22
Ireland                   22
Italy                     22
Latvia                    22
Lithuania                 22
Luxembourg                22
Malta                     22
Montenegro                19
Netherlands               22
North Macedonia           22
Norway                    22
Poland                    22
Portugal                  22
Romania                   22
Serbia                    22
Slovakia                  22
Slovenia                  22
Spain                     22
Sweden                    22
Switzerland               22
Türkiye                   22
United Kingdom            22
Name: count, dtype: int64

In [62]:
pp_gdp['country'].nunique()

37

In [63]:
# Comparing unique values between first two datsets
set(internet_use['country'].unique()) - set(internet_activities_concat['country'].unique())

set()

In [64]:
# Comparing unique values between first two datsets
set(internet_activities_concat['country'].unique()) - set(internet_use['country'].unique())

{'Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015, EA20-2023)',
 'European Union - 27 countries (from 2020)'}

The merge will be done on the values in internet_use dataframe, as the analysis will be performed in the individual members of the EU.

In [65]:
# Comparing unique values with third datset
set(internet_use['country'].unique()) - set(pp_gdp['country'].unique())

{'Kosovo*'}

In [66]:
# Comparing unique values with third datset
set(pp_gdp['country'].unique()) - set(internet_use['country'].unique())

set()

In [67]:
pp_gdp['country'].unique()

array(['Albania', 'Austria', 'Bosnia and Herzegovina', 'Belgium',
       'Bulgaria', 'Switzerland', 'Cyprus', 'Czechia', 'Germany',
       'Denmark', 'Estonia', 'Greece', 'Spain', 'Finland', 'France',
       'Croatia', 'Hungary', 'Ireland', 'Iceland', 'Italy', 'Lithuania',
       'Luxembourg', 'Latvia', 'Montenegro', 'North Macedonia', 'Malta',
       'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Serbia',
       'Sweden', 'Slovenia', 'Slovakia', 'Türkiye', 'United Kingdom'],
      dtype=object)

Only Kosovo is missing in the pp_gdp dataset

In [68]:
internet_use['year'].value_counts().sort_index()

year
2003     755
2004    2503
2005    3112
2006    3592
2007    3816
2008    4033
2009    4581
2010    4545
2011    4685
2012    4995
2013    3183
2014    3282
2015    3387
2016    3351
2017    4954
2018    5155
2019    5257
2020    4795
2021    4873
2022    4353
2023    4659
2024    4653
Name: count, dtype: int64

In [69]:
internet_activities_concat['year'].value_counts().sort_index()

year
2003     1579
2004     5795
2005     6832
2006     7940
2007     9189
2008    10762
2009    14374
2010    13867
2011    11230
2012    13104
2013    13850
2014    12048
2015    17122
2016    15542
2017    22170
2018    14600
2019    19886
2020    21119
2021    19386
2022    20968
2023    18693
2024    22726
Name: count, dtype: int64

In [70]:
pp_gdp['year'].value_counts().sort_index()

year
2003    35
2004    35
2005    36
2006    37
2007    37
2008    37
2009    37
2010    37
2011    37
2012    37
2013    37
2014    37
2015    37
2016    37
2017    37
2018    37
2019    37
2020    37
2021    37
2022    37
2023    37
2024    37
Name: count, dtype: int64

All unique values match!

## 04.3 Merging Dataframes

In [73]:
# Merging internet_use with internet activities
internet_use_activities_merged = internet_use.merge(internet_activities_concat, on =['demographic_group', 'country', 'year'], how='left')

In [74]:
internet_use_activities_merged.shape

(1006934, 9)

In [75]:
internet_use_activities_merged.head()

,freq_internet_access,demographic_group,country,year,internet_access_rate,freq_data_flag,internet_activities,internet_activities_rate,activities_data_flag
0,daily,"Persons aged 16-74 working in agriculture, for...",Austria,2021,71.67,NaN,Internet banking,66.65,NaN
1,daily,"Persons aged 16-74 working in agriculture, for...",Austria,2021,71.67,NaN,civic or political participation,21.21,NaN
2,daily,"Persons aged 16-74 working in agriculture, for...",Austria,2021,71.67,NaN,sending/receiving e-mails,72.86,NaN
3,daily,"Persons aged 16-74 working in agriculture, for...",Austria,2021,71.67,NaN,finding information about goods and services,66.88,NaN
4,daily,"Persons aged 16-74 working in agriculture, for...",Austria,2021,71.67,NaN,job search or sending an application,14.11,NaN

In [76]:
internet_use_activities_merged['country'].value_counts().sort_index()

country
Albania                    8558
Austria                   30072
Belgium                   31479
Bosnia and Herzegovina     7180
Bulgaria                  29897
Croatia                   28046
Cyprus                    32631
Czechia                   31529
Denmark                   32176
Estonia                   30714
Finland                   30348
France                    26158
Germany                   29999
Greece                    32452
Hungary                   32770
Iceland                   20639
Ireland                   29330
Italy                     28607
Kosovo*                    5985
Latvia                    32119
Lithuania                 32443
Luxembourg                33006
Malta                     29985
Montenegro                10769
Netherlands               31810
North Macedonia           19314
Norway                    33502
Poland                    31993
Portugal                  29249
Romania                   30316
Serbia                    13725
Slovakia                  33118
Slovenia                  31641
Spain                     32630
Sweden                    32575
Switzerland                6258
Türkiye                   22920
United Kingdom            20991
Name: count, dtype: int64

In [77]:
internet_use_activities_merged['country'].nunique()

38

In [78]:
# Checking for missing values created after the merge
internet_use_activities_merged.isnull().sum()

freq_internet_access             0
demographic_group                0
country                          0
year                             0
internet_access_rate             0
freq_data_flag              980474
internet_activities            157
internet_activities_rate       157
activities_data_flag        971842
dtype: int64

In [79]:
# Creating a subset with the missing values
df_nan = internet_use_activities_merged[internet_use_activities_merged['internet_activities'].isnull()]
df_nan

,freq_internet_access,demographic_group,country,year,internet_access_rate,freq_data_flag,internet_activities,internet_activities_rate,activities_data_flag
22942,daily,Females with low formal education,Italy,2004,5.55,NaN,NaN,NaN,NaN
30694,daily,Females with medium formal education,Italy,2004,32.46,NaN,NaN,NaN,NaN
38511,daily,Females with high formal education,Italy,2004,52.10,NaN,NaN,NaN,NaN
46383,daily,"Females, 16 to 24 years old",Italy,2003,10.70,NaN,NaN,NaN,NaN
46384,daily,"Females, 16 to 24 years old",Italy,2004,40.20,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
986230,at least once a week (but not every day),"Individuals, 45 to 54 years old",Italy,2004,1.00,NaN,NaN,NaN,NaN
994151,at least once a week (but not every day),"Individuals, 55 to 64 years old",Italy,2003,4.84,NaN,NaN,NaN,NaN
994152,at least once a week (but not every day),"Individuals, 55 to 64 years old",Italy,2004,0.44,NaN,NaN,NaN,NaN
1001996,at least once a week (but not every day),"Individuals, 65 to 74 years old",Italy,2003,1.85,NaN,NaN,NaN,NaN
1001997,at least once a week (but not every day),"Individuals, 65 to 74 years old",Italy,2004,0.10,NaN,NaN,NaN,NaN

In [82]:
df_nan['year'].value_counts().sort_index()

year
2003     52
2004    105
Name: count, dtype: int64

The NaN values created after the merge are only for the internet activities for the first two years. I will keep this rows for further analysis in the internet access rate.

In [83]:
# Exporting dataframe
internet_use_activities_merged.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'internet_use_activities_merged.csv'))

In [86]:
# Merging merged dataframe with the third one
internet_use_activities_pp_gdp = internet_use_activities_merged.merge(pp_gdp, on = ['country', 'year'], how='left')

In [87]:
internet_use_activities_pp_gdp.shape

(1006934, 11)

In [88]:
# Checking for missing values created after the merge 
internet_use_activities_pp_gdp.isnull().sum()

freq_internet_access             0
demographic_group                0
country                          0
year                             0
internet_access_rate             0
freq_data_flag              980474
internet_activities            157
internet_activities_rate       157
activities_data_flag        971842
purchasing_power_gdp          5985
pp_gdp_data_flag            982993
dtype: int64

In [89]:
df_nan = internet_use_activities_pp_gdp[internet_use_activities_pp_gdp['purchasing_power_gdp'].isnull() == True]

In [90]:
df_nan

,freq_internet_access,demographic_group,country,year,internet_access_rate,freq_data_flag,internet_activities,internet_activities_rate,activities_data_flag,purchasing_power_gdp,pp_gdp_data_flag
16988,daily,Employees working full time,Kosovo*,2018,89.54,NaN,Internet banking,3.19,NaN,NaN,NaN
16989,daily,Employees working full time,Kosovo*,2018,89.54,NaN,sending/receiving e-mails,44.31,NaN,NaN,NaN
16990,daily,Employees working full time,Kosovo*,2018,89.54,NaN,finding information about goods and services,42.74,NaN,NaN,NaN
16991,daily,Employees working full time,Kosovo*,2018,89.54,NaN,making an appointment with a practitioner via ...,4.85,NaN,NaN,NaN
16992,daily,Employees working full time,Kosovo*,2018,89.54,NaN,telephoning or video calls,91.69,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1005856,at least once a week (but not every day),"Individuals, 65 to 74 years old",Kosovo*,2020,2.80,NaN,telephoning or video calls,80.77,NaN,NaN,NaN
1005857,at least once a week (but not every day),"Individuals, 65 to 74 years old",Kosovo*,2020,2.80,NaN,selling goods or services,4.63,NaN,NaN,NaN
1005858,at least once a week (but not every day),"Individuals, 65 to 74 years old",Kosovo*,2020,2.80,NaN,participating in social networks (creating use...,55.40,NaN,NaN,NaN
1005859,at least once a week (but not every day),"Individuals, 65 to 74 years old",Kosovo*,2020,2.80,NaN,watching internet streamed TV or videos,51.24,NaN,NaN,NaN
1005860,at least once a week (but not every day),"Individuals, 65 to 74 years old",Kosovo*,2020,2.80,NaN,"sharing or publishing self-created videos, pho...",31.45,NaN,NaN,NaN

In [91]:
df_nan['country'].value_counts()

country
Kosovo*    5985
Name: count, dtype: int64

All of the missing values are for Kosovo, which was not included in the original dataset purchasing_power_gdp. The NaN rows will be kept and ignored for the analysis across countries.

In [92]:
internet_use_activities_pp_gdp['country'].nunique()

38

In [93]:
internet_use_activities_pp_gdp['year'].value_counts().sort_index()

year
2003     5558
2004    21269
2005    30121
2006    35341
2007    41521
2008    47791
2009    63974
2010    63461
2011    55620
2012    64935
2013    41277
2014    36012
2015    50421
2016    46332
2017    63442
2018    41240
2019    56986
2020    57196
2021    43857
2022    47738
2023    41931
2024    50911
Name: count, dtype: int64

# 05. Changing Datatypes

In [94]:
internet_use_activities_pp_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006934 entries, 0 to 1006933
Data columns (total 11 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   freq_internet_access      1006934 non-null  object
 1   demographic_group         1006934 non-null  object
 2   country                   1006934 non-null  object
 3   year                      1006934 non-null  int64
 4   internet_access_rate      1006934 non-null  float64
 5   freq_data_flag            26460 non-null    object
 6   internet_activities       1006777 non-null  object
 7   internet_activities_rate  1006777 non-null  float64
 8   activities_data_flag      35092 non-null    object
 9   purchasing_power_gdp      1000949 non-null  float64
 10  pp_gdp_data_flag          23941 non-null    object
dtypes: float64(3), int64(1), object(7)
memory usage: 84.5+ MB

In [95]:
internet_use_activities_pp_gdp['freq_internet_access'] = internet_use_activities_pp_gdp['freq_internet_access'].astype('category')
internet_use_activities_pp_gdp['demographic_group'] = internet_use_activities_pp_gdp['demographic_group'].astype('string')
internet_use_activities_pp_gdp['country'] = internet_use_activities_pp_gdp['country'].astype('category')
internet_use_activities_pp_gdp['year'] = internet_use_activities_pp_gdp['year'].astype('int16')
internet_use_activities_pp_gdp['internet_access_rate'] = internet_use_activities_pp_gdp['internet_access_rate'].astype('float32')
internet_use_activities_pp_gdp['freq_data_flag'] = internet_use_activities_pp_gdp['freq_data_flag'].astype('category')
internet_use_activities_pp_gdp['internet_activities'] = internet_use_activities_pp_gdp['internet_activities'].astype('string')
internet_use_activities_pp_gdp['internet_activities_rate'] = internet_use_activities_pp_gdp['internet_activities_rate'].astype('float32')
internet_use_activities_pp_gdp['activities_data_flag'] = internet_use_activities_pp_gdp['activities_data_flag'].astype('category')
internet_use_activities_pp_gdp['purchasing_power_gdp'] = internet_use_activities_pp_gdp['purchasing_power_gdp'].astype('float32')
internet_use_activities_pp_gdp['pp_gdp_data_flag'] = internet_use_activities_pp_gdp['pp_gdp_data_flag'].astype('category')

In [96]:
internet_use_activities_pp_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006934 entries, 0 to 1006933
Data columns (total 11 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   freq_internet_access      1006934 non-null  category
 1   demographic_group         1006934 non-null  string
 2   country                   1006934 non-null  category
 3   year                      1006934 non-null  int16
 4   internet_access_rate      1006934 non-null  float32
 5   freq_data_flag            26460 non-null    category
 6   internet_activities       1006777 non-null  string
 7   internet_activities_rate  1006777 non-null  float32
 8   activities_data_flag      35092 non-null    category
 9   purchasing_power_gdp      1000949 non-null  float32
 10  pp_gdp_data_flag          23941 non-null    category
dtypes: category(5), float32(3), int16(1), string(2)
memory usage: 33.6 MB

In [97]:
internet_use_activities_pp_gdp.head()

,freq_internet_access,demographic_group,country,year,internet_access_rate,freq_data_flag,internet_activities,internet_activities_rate,activities_data_flag,purchasing_power_gdp,pp_gdp_data_flag
0,daily,"Persons aged 16-74 working in agriculture, for...",Austria,2021,71.669998,NaN,Internet banking,66.650002,NaN,40200.0,NaN
1,daily,"Persons aged 16-74 working in agriculture, for...",Austria,2021,71.669998,NaN,civic or political participation,21.209999,NaN,40200.0,NaN
2,daily,"Persons aged 16-74 working in agriculture, for...",Austria,2021,71.669998,NaN,sending/receiving e-mails,72.860001,NaN,40200.0,NaN
3,daily,"Persons aged 16-74 working in agriculture, for...",Austria,2021,71.669998,NaN,finding information about goods and services,66.879997,NaN,40200.0,NaN
4,daily,"Persons aged 16-74 working in agriculture, for...",Austria,2021,71.669998,NaN,job search or sending an application,14.110000,NaN,40200.0,NaN

In [98]:
internet_use_activities_pp_gdp.describe()

,year,internet_access_rate,internet_activities_rate,purchasing_power_gdp
count,1.006934e+06,1.006934e+06,1.006777e+06,1.000949e+06
mean,2.014382e+03,2.424874e+01,3.664136e+01,2.834359e+04
std,5.739227e+00,3.340169e+01,2.849574e+01,1.391105e+04
min,2.003000e+03,0.000000e+00,0.000000e+00,5.900000e+03
25%,2.010000e+03,1.660000e+00,1.210000e+01,1.930000e+04
50%,2.014000e+03,5.530000e+00,2.913000e+01,2.640000e+04
75%,2.019000e+03,4.041000e+01,5.880000e+01,3.360000e+04
max,2.024000e+03,1.000000e+02,1.000000e+02,9.620000e+04

# 06. Exporting Data

In [99]:
internet_use_activities_pp_gdp.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'internet_use_activities_pp_gdp_combined.csv'))